<% provide :header, "Game" %>
<!-- Create a unique id for this particular game so it can be asynchronously
updated with only its state - prevents races if the user quickly switch from
one game to the next -->
<section id="game-<%= @game.id %>">
  <%= render partial: "playing_game", locals: { game: @game } %>
</section>
